* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body {
    background: linear-gradient(120deg, #ff7e5f, #feb47b, #ff9a76, #ff6f61);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}