.container-about {
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 35%;
    min-height: 100vh;

}

.container-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    line-height: 1.5;

}

.about-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-list li {
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.5;
    font-size: 1.4rem;
}



.accent {
    font-size: 1rem;

}